.app-light-theme {
  --background-color: rgb(240, 240, 240);
  --background-color-white: var(--color-gray-1);
  --drag-background-color: rgb(212, 212, 212);
  --new-card-list-background-color: rgba(201, 200, 200, 0.2);
  --float-box-bg-color: rgba(235, 235, 235, 0.2);
  --gray-border-color: var(--color-gray-10);
  --app-max-width: 1440px;

  --app-header-bg: var(--color-gray-10);
  --app-header-text-color: var(--color-gray-5);

  --text-color: var(--color-gray-10);

  --card-border-color: rgba(0, 0, 0, 0);
  --card-shadow-color: rgba(0, 0, 0, 0.16);
}
